:root{
   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


.title{
   text-align: center;
   margin: 60px 0;

   font-size: 3.5em;
   line-height: 24px;
   font-weight: 500;

   color: #1b2a53;
}


.container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 100vw
}


.container #register-menu {
   background-color: #0275d8;
   color: white;
   
   width:  90px;
   height: 40px;
   border: none;
   border-radius: 10px;

   font-size: 1rem;
   font-weight: bold;
   
   position: fixed;
   bottom: 16px;
   right: 24px;
   transition: all 0.1s linear 0.1s;
}


.container #register-menu:hover{
   background-color: #005baa;
   box-shadow: 0px 7px 7px 0px rgba(100, 100, 111, 0.616);
   border: none;
   transform: scale(1.1);
}


.card-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 16px;
}


.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 250px;
   border-radius: 8px;
   box-shadow: 0px 1px 29px 0px rgba(56, 56, 61, 0.733);
   padding: 0;
}


.card h2{
   color: #35363a;
   font-size: 1.5rem;
   margin-top: 10px;
}


.card p{
   color: #0657ec;
   font-size: 1.4rem;
   margin-top: 30px;
   margin-bottom: 15px;
}


.card img {
   border-radius: 8px 8px 0 0;
   width: 250px;
   height: 200px;
}


/*modal css*/
.modal-overlay {
   position: fixed;
   inset: 0;
   background-color: rgba(0,0,0,0.4);
   overflow: hidden;
   height: 100vh;
   width: 100vw;

   display: flex;
   align-items: center;
   justify-content: center;

   z-index: 999;
}

.modal-overlay .modal-body {
   background-color: white;
   padding: 24px;
   /*height: 50%;*/
   width: 60%;
   border-radius: 24px;

   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: space-between;
}

.modal-body{
   position: relative;
}

.modal-body .button-close-modal{
   border: none;
   background-color: #fff;
   color: #38393d98;
   font-size: 1.2em;
   position: absolute;
   top: 20px;
   right: 20px;
}


.modal-body .button-close-modal:hover{
   transform: scale(1.1);
   border: 1px solid #38393d98;
   border-radius: 5px;
   cursor: pointer;
}



.modal-overlay .modal-body h2 {
   font-size: 32px;
   align-self: center;
}


.modal-overlay .modal-body .input-container {
   width: calc(100% - 24px);
}


.modal-overlay .modal-body input {
   padding: 12px;
   border: 2px solid #c6c5c5c5;
   color: rgba(0,0,0,0.9);
   font-size: 18px;
   line-height: 24px;
   border-radius: 12px;
   width: -webkit-fill-available;

   margin-bottom: 12px;
}


.modal-overlay .modal-body label {
   color: #242424;
   font-weight: 600;
   margin-bottom: 8px;
   font-size: 18px;
}


.modal-overlay .modal-body .post-button {
   position: initial;
   width: 100%;
   height: 45px;

   border: none;
   border-radius: 10px;

   font-weight: bold;
   color: white;

   background-color: #434cf7;
   margin-top: 32px;
}


.modal-overlay .modal-body .post-button:hover {
   background-color: #3a44f8;
   box-shadow: 0px 1px 29px 0px rgba(56, 56, 61, 0.733);
   transform: scale(1);
}


.button-trash{
   position: fixed;
   right: 45px;
   bottom: 80px;
   
   width: 50px;
   height: 50px;
   border-radius: 25px;
   border: 2px solid rgb(231, 50, 50);
   background-color: #fff;
   cursor: pointer;
   box-shadow: 0 0 10px #333;
   overflow: hidden;
   transition: .3s;
}

svg {
   color: rgb(231, 50, 50);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: .3s;
}


.button-trash:hover{
   background-color: rgb(245, 207, 207);
   transform: scale(1.2);
   box-shadow: 0 0 4px #111;
   transition: .3s;
}


.card .button-delete-card{
   width: 60px;
   height: 30px;
   border: none;
   border-radius: 5px;
   background-color: rgb(231, 50, 50);
   color: white;
   font-weight: bold;
   margin-bottom: 20px;
}


.card .button-delete-card:hover{
   transform: scale(1.2);
   box-shadow: 0 0 4px #111;
   transition: .3s;
}


